@page "/Finished"
@using Supervise.Data
@inject InternService ObjCustomService

<h1>Finished Interns Data</h1>
@if (objCtmr == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Intern Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Varsity Name</th>
                <th>Brunch</th>
                <th>Time Period</th>
                <th>More</th>
                <th>Apply Date</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temp in objCtmr)
            {
                <tr>
                    <td>@temp.Internid</td>
                    <td>@temp.Name</td>
                    <td>@temp.Email</td>
                    <td>@temp.Gender</td>
                    <td>@temp.Varsity_name</td>
                    <td>@temp.TBL_Brunch</td>
                    <td>@temp.Duration</td>
                    <td>
                        <a class="nav-link" href="InternDetails/@temp.Internid">
                            <span class="oi oi-eye" aria-hidden="true" style="color: black"></span>
                        </a>
                    </td>
                    <td>@temp.Apply_Date</td>
                    <td>
                        <a class="nav-link" href="EditIntern/@temp.Internid">
                            <span class="oi oi-pencil" aria-hidden="true" style="color: black"></span>
                        </a>
                    </td>
                    <td>@temp.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<InternInfo> objCtmr;
    protected override async Task OnInitializedAsync()
    {
        InternService objCS = new InternService();
        objCtmr = await Task.Run(() => objCS.GetFinishedIntern());
        //InternDataAccessLayer objInternDAL = new InternDataAccessLayer();
        //objCtmr = objInternDAL.GetAllInterns().ToList();
    }
}


